@model Releye_List.Models.KundLista

@{
    ViewData["Title"] = "Edit";
}



    <h4 class="bg-primary p-sm-1 rounded-lg text-white">Redigera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label >Namn</label>
                <input asp-for="Namn" class="form-control" />
                <span asp-validation-for="Namn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Land</label>
                <select asp-for="LandListaId" class="form-control" asp-items="ViewBag.LandListaId"></select>
                <span asp-validation-for="LandListaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    <a class="btn btn-outline-primary" asp-action="Index">Tillbaka </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
